/* General
------------------------------------------------*/
body, html {
    height: 100%;
	background-color: #dedede;
}

::-moz-selection {background: #d3eef6;}
::selection      {background: #d3eef6;}


a {
	-webkit-transition: color 0.25s;
	-moz-transition: color 0.25s;
	-ms-transition: color 0.25s;
	-o-transition: color 0.25s;
	transition: color 0.25s;
}
h1, h2 {
	font-weight: 300;
}

.logo {
	-webkit-transition: -webkit-filter 0.25s, filter 0.25s;
	-moz-transition: filter 0.25s;
	-ms-transition: filter 0.25s;
	-o-transition: filter 0.25s;
	transition: -webkit-filter 0.25s, filter 0.25s;
}
.accelerated {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* Layout
------------------------------------------------*/
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -100px;
    padding-bottom: 100px;
    padding-top: 60px;
}

.container {
	width: 1020px !important;
}

.main {
	padding: 0;
	position: relative;
}

.wrapper {
	margin: 30px 0;
	background: #fff;
	border-radius: 4px;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.08);
       -moz-box-shadow: 0 2px 0 rgba(0,0,0,.08);
            box-shadow: 0 2px 0 rgba(0,0,0,.08);
}
	.wrapper > .header {
		background-color: #f9f9f9;
		padding: 30px; 
		border-bottom: 1px solid #e2e2e2;
        border-radius: 4px 4px 0 0;
	}
	.wrapper > .header > h1,
	.wrapper > .header > h2 {
		margin: 0;
		color: #0d0d0d
	}

	.wrapper > .content {
		padding: 30px; 
	}
        .wrapper > .content > .jumbotron {
            margin: -30px -30px 0 -30px;
        }

    .wrapper:last-child,
	.wrapper>:last-child {
		margin-bottom: 0;
	}

#footer {
    height: 100px;
}



/* Header
----------------------------------------------- */
.navbar-fixed-top .container {
	width: 100% !important;
	max-width: 1020px;
}

@media (min-width: 901px) {
	.navbar-fixed-top .navbar-nav {
		float: right;
	}
}
.navbar-default .navbar-nav > li {
	border-right: 1px solid #d3d3d3;
	border-left:  1px solid #d3d3d3;
}
.navbar-default .navbar-nav > li+li {
	border-left: none;
}

.navbar-fixed-top {
	border-bottom-width: 2px;
	font-size: 13px;
}

/* Dropdown */
.navbar-fixed-top .navbar-brand {
	font-weight: bold;
	font-size: 23px;
	padding: 15px 30px;
}
.navbar-fixed-top .navbar-brand .logo {
	min-width: 160px;
	height: 30px;
	line-height: 30px;
}
.navbar-fixed-top .navbar-brand:hover .logo {
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8);
}
.navbar-fixed-top .navbar-nav > li.dropdown {
    border-right: none;
	padding:14px 20px 14px;
}
.navbar-fixed-top .navbar-nav > li.dropdown > a {
	padding: 5px 15px;
	background: #e9e9e9;
	border-radius: 2px;
	color: #464646;
}
.navbar-fixed-top .navbar-nav > li.dropdown > a > .caret {
	margin-left: 10px;
	margin-top: -2px;
}
.navbar.navbar-fixed-top .dropdown-menu { /* selector-fu */
	margin-top: -8px;
	margin-left: 20px;
	border-radius: 4px;
	font-size: 13px;
}
.navbar.navbar-fixed-top .dropdown-menu > .active > a {
	background-color: #f5f5f5;
}

/* Extras */
.navbar-fixed-top .navbar-nav .dropdown.username {
    padding: 14px 0px 14px 20px;
}
.navbar-fixed-top .navbar-nav .dropdown.language-selector {
    padding: 14px 0px 14px 20px;
}
.navbar-fixed-top .navbar-nav .dropdown.language-selector > a {
    padding: 5px 0; 
    background: transparent;
}
.navbar-fixed-top .navbar-nav .dropdown.language-selector > a > .caret {
    margin-left:5px;
}
.username .dropdown-menu .header {
    padding: 15px 20px;
    background: #e9e9e9;
    margin: -5px 0 5px;
    border-bottom: 1px solid #bbb;
    border-radius: 4px 4px 0 0;
}
.username .dropdown-menu .header h4 {
    margin: 0;
    white-space: nowrap;
}
.username .dropdown-menu .header h4 small {
    color: #999;
}
.navbar-fixed-top .navbar-nav > li.dropdown.content-menu {
    border-right: 1px solid #d3d3d3;
    padding: 0;
}
.navbar-fixed-top .navbar-nav > li.dropdown.content-menu > a {
    padding: 19px 15px;
    background: none;
    border-radius: 0;
    color: #00a3df;
}

/* Dropdown Submenu */

.dropdown-submenu.dropdown-submenu>.dropdown-menu {
    top:-9999px;
    left:-90%;
    margin-top:-6px;
    margin-left:-7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0;
    display:block;
    -webkit-transition-delay: 0.5s;
       -moz-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

.dropdown-submenu.dropdown-submenu:hover>.dropdown-menu {
    top: 80%;
    opacity:1;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
}



@media (max-width: 900px) {
	.navbar-fixed-top .navbar-nav > li > a {
		padding: 10px 30px;
	}
	.navbar-fixed-top .navbar-nav > li.dropdown {
		padding: 5px 15px;
	}
	.navbar-fixed-top .navbar-nav > li.dropdown > a {
		padding: 5px 15px;
		display: inline-block;
		width: auto;
	}
	.navbar-default.navbar-fixed-top .lang-switcher {
		padding: 10px 30px;
	}
	.navbar-default.navbar-fixed-top .lang-switcher > a { /*Selector-fu*/
		padding: 0;
	}
	.navbar-fixed-top .open .dropdown-menu {
		margin-top: 5px;
		margin-left: 0;
		border: 1px solid #b1b1b1;
		-webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.08);
		   -moz-box-shadow: 0 0 0 2px rgba(0,0,0,0.08);
		        box-shadow: 0 0 0 2px rgba(0,0,0,0.08);
	}
}



/* Footer 
------------------------------------------------*/
.footer {
    padding: 40px;
    text-align: center;
}

.footer .navbar {
    margin:0;
}
.footer .separator {
    display: inline-block;
    padding: 0 5px;
}
.footer .menu {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .menu li {
    display: inline-block;
    padding: 0 5px;
}



/* Dropdowns
------------------------------------------------*/
.dropdown-menu {
	-webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 0 0 2px rgba(0,0,0,0.08);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.08);
}

.dropdown-menu > li > a {
	padding: 10px 20px;
}

.dropdown-menu .divider {
	margin: 5px 0;
}





/* Buttons 
------------------------------------------------*/ 
.btn {
	padding: 6px 24px;
	border: none;
}
.btn.btn-sm {
	padding: 4px 12px;
}
.btn.btn-tall {
	padding: 6px 12px;
}
.btn.btn-tall.btn-sm {
	padding: 4px 8px;
}
.btn.btn-wide {
	padding: 6px 32px;
}
.btn.btn-wide.btn-sm {
	padding: 4px 16px;
}
.btn.btn-sm.btn-search {
    margin-top: -4px;
}
.btn.btn-mr {
    margin-right: 7px;
}

.btn:focus {
	outline: none !important; 
}

.btn:not(.btn-link) { /* Transitions for translate btn 2px down and slightly remove box-shadow */
	-webkit-transition: background-color 0.2s, color 0.2s;
	   -moz-transition: background-color 0.2s, color 0.2s;
	     -o-transition: background-color 0.2s, color 0.2s;
	        transition: background-color 0.2s, color 0.2s;

	-webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	   -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	    -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	     -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
}
.btn:active:not(.btn-link):not(.btn-plain):not(.btn-icon):not(.btn-informer),
.btn.active:not(.btn-link):not(.btn-plain):not(.btn-icon):not(.btn-informer) { /* Actually translate btn down */
	-webkit-transform: translateY(1px);
	   -moz-transform: translateY(1px);
	    -ms-transform: translateY(1px);
	     -o-transform: translateY(1px);
	        transform: translateY(1px);
}
.btn.active:active:not(.btn-link):not(.btn-plain):not(.btn-icon):not(.btn-informer) {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
}


.btn-default { 
	background: #d4d4d4;
	-webkit-box-shadow: 0 2px 0 #aaa8a8;
	   -moz-box-shadow: 0 2px 0 #aaa8a8;
	        box-shadow: 0 2px 0 #aaa8a8;
}
.btn-default:hover,
.btn-default:focus { 
	background: #c0c0c0;
	-webkit-box-shadow: 0 2px 0 #7f7f7f;
	   -moz-box-shadow: 0 2px 0 #7f7f7f;
	        box-shadow: 0 2px 0 #7f7f7f;
}
.btn-default:active { 
	background: #c0c0c0;
	-webkit-box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
	   -moz-box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
	        box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
}
.btn-default.active { 
	background: #d4d4d4;
	-webkit-box-shadow: 0 1px 0 #aaa8a8, inset 0 2px 0 #aaa8a8 ;
	   -moz-box-shadow: 0 1px 0 #aaa8a8, inset 0 2px 0 #aaa8a8 ;
	        box-shadow: 0 1px 0 #aaa8a8, inset 0 2px 0 #aaa8a8 ;
}
.btn-default.active:hover:not(.btn-link):not(.btn-plain):not(.btn-icon):not(.btn-informer),
.btn-default.active:focus:not(.btn-link):not(.btn-plain):not(.btn-icon):not(.btn-informer) { 
	background: #c0c0c0;
	-webkit-box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
	   -moz-box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
	        box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
}
.btn-default.active:active:not(.btn-link):not(.btn-plain):not(.btn-icon):not(.btn-informer) {
	background: #c0c0c0;
	-webkit-box-shadow: 0 2px 0 #7f7f7f;
	   -moz-box-shadow: 0 2px 0 #7f7f7f;
	        box-shadow: 0 2px 0 #7f7f7f;
}
.btn-group .btn-default.active:not(:active):not(.btn-link):not(.btn-plain):not(.btn-icon):not(.btn-informer) {
    background: #c0c0c0;
	-webkit-box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
	   -moz-box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
	        box-shadow: 0 1px 0 #7f7f7f, inset 0 2px 0 #7f7f7f ;
}


.btn-primary { 
	background: #00a3df;
	-webkit-box-shadow: 0 2px 0 #007ca4;
	   -moz-box-shadow: 0 2px 0 #007ca4;
	        box-shadow: 0 2px 0 #007ca4;
}
.btn-primary:hover,
.btn-primary:focus { 
	background: #008fc4;
	-webkit-box-shadow: 0 2px 0 #006d91;
	   -moz-box-shadow: 0 2px 0 #006d91;
	        box-shadow: 0 2px 0 #006d91;
}
.btn-primary:active { 
	background: #008fc4;
	-webkit-box-shadow: 0 1px 0 #006d91, inset 0 2px 0 #006d91 ;
	   -moz-box-shadow: 0 1px 0 #006d91, inset 0 2px 0 #006d91 ;
	        box-shadow: 0 1px 0 #006d91, inset 0 2px 0 #006d91 ;
}
.btn-primary.active { 
	background: #00a3df;
	-webkit-box-shadow: 0 1px 0 #007ca4, inset 0 2px 0 #007ca4 ;
	   -moz-box-shadow: 0 1px 0 #007ca4, inset 0 2px 0 #007ca4 ;
	        box-shadow: 0 1px 0 #007ca4, inset 0 2px 0 #007ca4 ;
}
.btn-primary.active:hover,
.btn-primary.active:focus { 
	background: #008fc4;
	-webkit-box-shadow: 0 1px 0 #006d91, inset 0 2px 0 #006d91 ;
	   -moz-box-shadow: 0 1px 0 #006d91, inset 0 2px 0 #006d91 ;
	        box-shadow: 0 1px 0 #006d91, inset 0 2px 0 #006d91 ;
}
.btn-primary.active:active { 
	background: #008fc4;
	-webkit-box-shadow: 0 2px 0 #006d91;
	   -moz-box-shadow: 0 2px 0 #006d91;
	        box-shadow: 0 2px 0 #006d91;
}


.btn-success { 
	background: #52ad15;
	-webkit-box-shadow: 0 2px 0 #40900a;
	   -moz-box-shadow: 0 2px 0 #40900a;
	        box-shadow: 0 2px 0 #40900a;
}
.btn-success:hover,
.btn-success:focus { 
	background: #469710;
	-webkit-box-shadow: 0 2px 0 #337606;
	   -moz-box-shadow: 0 2px 0 #337606;
	        box-shadow: 0 2px 0 #337606;
}
.btn-success:active { 
	background: #469710;
	-webkit-box-shadow: 0 1px 0 #337606, inset 0 2px 0 #337606 ;
	   -moz-box-shadow: 0 1px 0 #337606, inset 0 2px 0 #337606 ;
	        box-shadow: 0 1px 0 #337606, inset 0 2px 0 #337606 ;
}
.btn-success.active { 
	background: #52ad15;
	-webkit-box-shadow: 0 1px 0 #40900a, inset 0 2px 0 #40900a ;
	   -moz-box-shadow: 0 1px 0 #40900a, inset 0 2px 0 #40900a ;
	        box-shadow: 0 1px 0 #40900a, inset 0 2px 0 #40900a ;
}
.btn-success.active:hover,
.btn-success.active:focus { 
	background: #469710;
	-webkit-box-shadow: 0 1px 0 #337606, inset 0 2px 0 #337606 ;
	   -moz-box-shadow: 0 1px 0 #337606, inset 0 2px 0 #337606 ;
	        box-shadow: 0 1px 0 #337606, inset 0 2px 0 #337606 ;
}
.btn-success.active:active { 
	background: #469710;
	-webkit-box-shadow: 0 2px 0 #337606;
	   -moz-box-shadow: 0 2px 0 #337606;
	        box-shadow: 0 2px 0 #337606;
}

.btn-warning { 
	background: #e8a439;
	-webkit-box-shadow: 0 2px 0 #d18c20;
	   -moz-box-shadow: 0 2px 0 #d18c20;
	        box-shadow: 0 2px 0 #d18c20;
}
.btn-warning:hover,
.btn-warning:focus { 
	background: #e18429;
	-webkit-box-shadow: 0 2px 0 #c16914;
	   -moz-box-shadow: 0 2px 0 #c16914;
	        box-shadow: 0 2px 0 #c16914;
}
.btn-warning:active { 
	background: #e18429;
	-webkit-box-shadow: 0 1px 0 #c16914, inset 0 2px 0 #c16914 ;
	   -moz-box-shadow: 0 1px 0 #c16914, inset 0 2px 0 #c16914 ;
	        box-shadow: 0 1px 0 #c16914, inset 0 2px 0 #c16914 ;
}
.btn-warning.active { 
	background: #e8a439;
	-webkit-box-shadow: 0 1px 0 #d18c20, inset 0 2px 0 #d18c20 ;
	   -moz-box-shadow: 0 1px 0 #d18c20, inset 0 2px 0 #d18c20 ;
	        box-shadow: 0 1px 0 #d18c20, inset 0 2px 0 #d18c20 ;
}
.btn-warning.active:hover,
.btn-warning.active:focus { 
	background: #e18429;
	-webkit-box-shadow: 0 1px 0 #c16914, inset 0 2px 0 #c16914 ;
	   -moz-box-shadow: 0 1px 0 #c16914, inset 0 2px 0 #c16914 ;
	        box-shadow: 0 1px 0 #c16914, inset 0 2px 0 #c16914 ;
}
.btn-warning.active:active { 
	background: #e18429;
	-webkit-box-shadow: 0 2px 0 #c16914;
	   -moz-box-shadow: 0 2px 0 #c16914;
	        box-shadow: 0 2px 0 #c16914;
}

.btn-danger { 
	background: #ee512c;
	-webkit-box-shadow: 0 2px 0 #d4310b;
	   -moz-box-shadow: 0 2px 0 #d4310b;
	        box-shadow: 0 2px 0 #d4310b;
}
.btn-danger:hover,
.btn-danger:focus { 
	background: #d4310b;
	-webkit-box-shadow: 0 2px 0 #a31f01;
	   -moz-box-shadow: 0 2px 0 #a31f01;
	        box-shadow: 0 2px 0 #a31f01;
}
.btn-danger:active { 
	background: #d4310b;
	-webkit-box-shadow: 0 1px 0 #a31f01, inset 0 2px 0 #a31f01 ;
	   -moz-box-shadow: 0 1px 0 #a31f01, inset 0 2px 0 #a31f01 ;
	        box-shadow: 0 1px 0 #a31f01, inset 0 2px 0 #a31f01 ;
}
.btn-danger.active { 
	background: #ee512c;
	-webkit-box-shadow: 0 1px 0 #d4310b, inset 0 2px 0 #d4310b ;
	   -moz-box-shadow: 0 1px 0 #d4310b, inset 0 2px 0 #d4310b ;
	        box-shadow: 0 1px 0 #d4310b, inset 0 2px 0 #d4310b ;
}
.btn-danger.active:hover,
.btn-danger.active:focus { 
	background: #d4310b;
	-webkit-box-shadow: 0 1px 0 #a31f01, inset 0 2px 0 #a31f01 ;
	   -moz-box-shadow: 0 1px 0 #a31f01, inset 0 2px 0 #a31f01 ;
	        box-shadow: 0 1px 0 #a31f01, inset 0 2px 0 #a31f01 ;
}
.btn-danger.active:active { 
	background: #d4310b;
	-webkit-box-shadow: 0 2px 0 #a31f01;
	   -moz-box-shadow: 0 2px 0 #a31f01;
	        box-shadow: 0 2px 0 #a31f01;
}


.btn-info {
	background-color: #d3eef6;
	color: #00a3d8;
	border: 1px solid #00a3d8;

	-webkit-box-shadow: 0 2px 0 #dedede;
	   -moz-box-shadow: 0 2px 0 #dedede;
	        box-shadow: 0 2px 0 #dedede;

}
.btn-info:hover,
.btn-info:focus { 
	color: #0080a9;
	background-color: #a2dff1;
	border-color: #0080a9;
	-webkit-box-shadow: 0 2px 0 #c2c2c2;
	   -moz-box-shadow: 0 2px 0 #c2c2c2;
	        box-shadow: 0 2px 0 #c2c2c2;
}
.btn-info:active { 
	color: #0080a9;
	border-color: #0080a9;
	background-color: #a2dff1;
	-webkit-box-shadow: 0 1px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
	   -moz-box-shadow: 0 1px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
	        box-shadow: 0 1px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
}
.btn-info.active { 
	color: #00a3d8;
	border-color: #00a3d8;
	background-color: #d3eef6;
	-webkit-box-shadow: 0 1px 0 #dedede, inset 0 2px 0 #dedede;
	   -moz-box-shadow: 0 1px 0 #dedede, inset 0 2px 0 #dedede;
	        box-shadow: 0 1px 0 #dedede, inset 0 2px 0 #dedede;
}
.btn-info.active:hover,
.btn-info.active:focus { 
	color: #0080a9;
	border-color: #0080a9;
	background-color: #a2dff1;
	-webkit-box-shadow: 0 1px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
	   -moz-box-shadow: 0 1px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
	        box-shadow: 0 1px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
}
.btn-info.active:active { 
	color: #0080a9;
	border-color: #0080a9;
	background-color: #a2dff1;
	-webkit-box-shadow: 0 2px 0 #c2c2c2;
	   -moz-box-shadow: 0 2px 0 #c2c2c2;
	        box-shadow: 0 2px 0 #c2c2c2;
}
.btn-info.btn-plain:active,
.btn-info.btn-plain.active:active { 
	-webkit-box-shadow: 0 2px 0 #c2c2c2;
	   -moz-box-shadow: 0 2px 0 #c2c2c2;
	        box-shadow: 0 2px 0 #c2c2c2;
}
.btn-info.btn-plain.active { 
	-webkit-box-shadow: 0 2px 0 #dedede, inset 0 2px 0 #dedede;
	   -moz-box-shadow: 0 2px 0 #dedede, inset 0 2px 0 #dedede;
	        box-shadow: 0 2px 0 #dedede, inset 0 2px 0 #dedede;
}
.btn-info.btn-plain.active:hover,
.btn-info.btn-plain.active:focus { 
	-webkit-box-shadow: 0 2px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
	   -moz-box-shadow: 0 2px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
	        box-shadow: 0 2px 0 #c2c2c2, inset 0 2px 0 #c2c2c2;
}


.btn-white {
	background-color: #fff;
	color: #464646;
	border: 1px solid #bdbdbd;
	-webkit-box-shadow: 0 2px 0 #dedede;
	   -moz-box-shadow: 0 2px 0 #dedede;
	        box-shadow: 0 2px 0 #dedede;
}
.btn-white:hover,
.btn-white:focus { 
	background-color: #ececec;
	-webkit-box-shadow: 0 2px 0 #cccccc;
	   -moz-box-shadow: 0 2px 0 #cccccc;
	        box-shadow: 0 2px 0 #cccccc;
}
.btn-white:active { 
	background-color: #ececec;
	-webkit-box-shadow: 0 1px 0 #cccccc, inset 0 2px 0 #cccccc;
	   -moz-box-shadow: 0 1px 0 #cccccc, inset 0 2px 0 #cccccc;
	        box-shadow: 0 1px 0 #cccccc, inset 0 2px 0 #cccccc;
}
.btn-white.active { 
	background-color: #fff;
	-webkit-box-shadow: 0 1px 0 #dedede, inset 0 2px 0 #dedede;
	   -moz-box-shadow: 0 1px 0 #dedede, inset 0 2px 0 #dedede;
	        box-shadow: 0 1px 0 #dedede, inset 0 2px 0 #dedede;
}
.btn-white.active:hover,
.btn-white.active:focus { 
	background-color: #ececec;
	-webkit-box-shadow: 0 1px 0 #cccccc, inset 0 2px 0 #cccccc;
	   -moz-box-shadow: 0 1px 0 #cccccc, inset 0 2px 0 #cccccc;
	        box-shadow: 0 1px 0 #cccccc, inset 0 2px 0 #cccccc;
}
.btn-white.active:active { 
	-webkit-box-shadow: 0 2px 0 #cccccc;
	   -moz-box-shadow: 0 2px 0 #cccccc;
	        box-shadow: 0 2px 0 #cccccc;
}
.btn-white.btn-plain:active,
.btn-white.btn-plain.active:active { 
	-webkit-box-shadow: 0 2px 0 #cccccc;
	   -moz-box-shadow: 0 2px 0 #cccccc;
	        box-shadow: 0 2px 0 #cccccc;
}
.btn-white.btn-plain.active { 
	-webkit-box-shadow: 0 2px 0 #dedede, inset 0 2px 0 #dedede;
	   -moz-box-shadow: 0 2px 0 #dedede, inset 0 2px 0 #dedede;
	        box-shadow: 0 2px 0 #dedede, inset 0 2px 0 #dedede;
}
.btn-white.btn-plain.active:hover,
.btn-white.btn-plain.active:focus { 
	-webkit-box-shadow: 0 2px 0 #cccccc, inset 0 2px 0 #cccccc;
	   -moz-box-shadow: 0 2px 0 #cccccc, inset 0 2px 0 #cccccc;
	        box-shadow: 0 2px 0 #cccccc, inset 0 2px 0 #cccccc;
}


.btn-black {
	color: #fff;
	background-color: #464646;
	-webkit-box-shadow: 0 2px 0 #383838;
	   -moz-box-shadow: 0 2px 0 #383838;
	        box-shadow: 0 2px 0 #383838;
}
.btn-black:hover,
.btn-black:focus { 
	color: #fff;
	background-color: #383838;
	-webkit-box-shadow: 0 2px 0 #2b2b2b;
	   -moz-box-shadow: 0 2px 0 #2b2b2b;
	        box-shadow: 0 2px 0 #2b2b2b;
}
.btn-black:active { 
	background-color: #383838;
	-webkit-box-shadow: 0 1px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
	   -moz-box-shadow: 0 1px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
	        box-shadow: 0 1px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
}
.btn-black.active { 
	background-color: #464646;
	-webkit-box-shadow: 0 1px 0 #383838, inset 0 2px 0 #383838;
	   -moz-box-shadow: 0 1px 0 #383838, inset 0 2px 0 #383838;
	        box-shadow: 0 1px 0 #383838, inset 0 2px 0 #383838;
}
.btn-black.active:hover,
.btn-black.active:focus { 
	color: #fff;
	background-color: #383838;
	-webkit-box-shadow: 0 1px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
	   -moz-box-shadow: 0 1px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
	        box-shadow: 0 1px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
}
.btn-black.active:active { 
	-webkit-box-shadow: 0 2px 0 #2b2b2b;
	   -moz-box-shadow: 0 2px 0 #2b2b2b;
	        box-shadow: 0 2px 0 #2b2b2b;
}
.btn-black.btn-plain:active,
.btn-black.btn-plain.active:active { 
	-webkit-box-shadow: 0 2px 0 #2b2b2b;
	   -moz-box-shadow: 0 2px 0 #2b2b2b;
	        box-shadow: 0 2px 0 #2b2b2b;
}
.btn-black.btn-plain.active { 
	-webkit-box-shadow: 0 2px 0 #383838, inset 0 2px 0 #383838;
	   -moz-box-shadow: 0 2px 0 #383838, inset 0 2px 0 #383838;
	        box-shadow: 0 2px 0 #383838, inset 0 2px 0 #383838;
}
.btn-black.btn-plain.active:hover,
.btn-black.btn-plain.active:focus { 
	-webkit-box-shadow: 0 2px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
	   -moz-box-shadow: 0 2px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
	        box-shadow: 0 2px 0 #2b2b2b, inset 0 2px 0 #2b2b2b;
}


.btn-bw {
	background-color: #fff;
	color: #464646;
	border: 1px solid #bdbdbd;
	-webkit-box-shadow: 0 2px 0 #dedede;
	   -moz-box-shadow: 0 2px 0 #dedede;
	        box-shadow: 0 2px 0 #dedede;
}
.btn-bw:hover,
.btn-bw:focus { 
	background-color: #ececec;
	-webkit-box-shadow: 0 2px 0 #cccccc;
	   -moz-box-shadow: 0 2px 0 #cccccc;
	        box-shadow: 0 2px 0 #cccccc;
}
.btn-bw:active { 
	background-color: #383838;
	color: #fff;
	border-color: #383838;
	-webkit-box-shadow: 0 1px 0 #2b2b2b;
	   -moz-box-shadow: 0 1px 0 #2b2b2b;
	        box-shadow: 0 1px 0 #2b2b2b;

	-webkit-transition: background-color 0.1s, color 0.1s;
	   -moz-transition: background-color 0.1s, color 0.1s;
	     -o-transition: background-color 0.1s, color 0.1s;
	        transition: background-color 0.1s, color 0.1s;

	-webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	   -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	    -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	     -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-bw.active {
	color: #fff;
	background-color: #464646;
	border-color: #383838;
	-webkit-box-shadow: 0 1px 0 #383838;
	   -moz-box-shadow: 0 1px 0 #383838;
	        box-shadow: 0 1px 0 #383838;
}
.btn-bw.active:hover,
.btn-bw.active:focus { 
	color: #fff;
	background-color: #383838;
	-webkit-box-shadow: 0 1px 0 #2b2b2b;
	   -moz-box-shadow: 0 1px 0 #2b2b2b;
	        box-shadow: 0 1px 0 #2b2b2b;
}
.btn-bw.active:active { 
	background-color: #ececec;
	color: #464646;
	border-color: #bdbdbd;
	-webkit-box-shadow: 0 2px 0 #cccccc;
	   -moz-box-shadow: 0 2px 0 #cccccc;
	        box-shadow: 0 2px 0 #cccccc;

	-webkit-transition: background-color 0.1s, color 0.1s;
	   -moz-transition: background-color 0.1s, color 0.1s;
	     -o-transition: background-color 0.1s, color 0.1s;
	        transition: background-color 0.1s, color 0.1s;

	-webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	   -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	    -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	     -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}


.btn-link:active,
.btn-link.active {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.btn.btn-simple,
.btn.btn-more {
	padding: 6px 12px;
	-webkit-box-shadow: 0 0 0 #fff;
	-moz-box-shadow: 0 0 0 #fff;
	box-shadow: 0 0 0 #fff;
}
.btn.btn-more {
	padding: 7px;
	height: 18px;
	width:34px;
}
.btn-more:after {
	content: "";
	display: block;
	width:20px;
	height: 4px;
	background: url(/img/icon-more.png) no-repeat;
}

.btn.btn-icon,
.btn.btn-informer {
	padding: 0;
	background: transparent;
	-webkit-box-shadow: 0 0 0 #fff;
	-moz-box-shadow: 0 0 0 #fff;
	box-shadow: 0 0 0 #fff;
}
.btn-icon-lg {font-size: 24px;}

.btn-icon-primary {color: #00a3df;}
.btn-icon-success {color: #5cb85c;}
.btn-icon-danger  {color: #d9534f;}
.btn-icon-warning {color: #f0ad4e;}

.btn-icon-primary:hover,  .btn-icon-primary:focus {color: #0085b6;}
.btn-icon-success:hover,  .btn-icon-success:focus {color: #47a447;}
.btn-icon-danger:hover,  .btn-icon-danger:focus  {color: #d2322d;}
.btn-icon-warning:hover,  .btn-icon-warning:focus {color: #ed9c28;}

.btn.btn-informer {
	background: url(/img/icon-informer.png) 0 0 no-repeat;
	width: 20px;
	height: 14px;
	padding-right: 6px; /* For popover at right */
}
.btn.btn-informer:hover,
.btn.btn-informer:focus {
	background-position: 0 -14px;
}

.btn-group .btn + .btn-bw {
	margin-left: 0;
	padding-left: 23px;
}
.btn-group .btn + .btn-bw.btn-sm {
	padding-left: 11px;
}

/* WTF is below?
 *   White:  .btn-bw:not(.active):not(:active)  &&  .btn-bw.active:active
 *   Black:  .btn-bw.active:not(:active)        &&  .btn-bw:active:not(.active)
 * We need to select all pairs of similar-color buttons, and return margin back to -1px.
 * Learn Discrete math!
 */
/* white + white */
.btn-group .btn-bw:not(.active):not(:active) + .btn-bw:not(.active):not(:active),
.btn-group .btn-bw:not(.active):not(:active) + .btn-bw.active:active,
.btn-group .btn-bw.active:active             + .btn-bw:not(.active):not(:active),
.btn-group .btn-bw.active:active             + .btn-bw.active:active,
/* black + black */
.btn-group .btn-bw.active:not(:active) + .btn-bw.active:not(:active),
.btn-group .btn-bw.active:not(:active) + .btn-bw:active:not(.active),
.btn-group .btn-bw:active:not(.active) + .btn-bw.active:not(:active),
.btn-group .btn-bw:active:not(.active) + .btn-bw:active:not(.active) {
	margin-left: -1px;
	padding-left: 24px;
}

/* white + white */
.btn-group .btn-sm.btn-bw:not(.active):not(:active) + .btn-sm.btn-bw:not(.active):not(:active),
.btn-group .btn-sm.btn-bw:not(.active):not(:active) + .btn-sm.btn-bw.active:active,
.btn-group .btn-sm.btn-bw.active:active             + .btn-sm.btn-bw:not(.active):not(:active),
.btn-group .btn-sm.btn-bw.active:active             + .btn-sm.btn-bw.active:active,
/* black + black */
.btn-group .btn-sm.btn-bw.active:not(:active) + .btn-sm.btn-bw.active:not(:active),
.btn-group .btn-sm.btn-bw.active:not(:active) + .btn-sm.btn-bw:active:not(.active),
.btn-group .btn-sm.btn-bw:active:not(.active) + .btn-sm.btn-bw.active:not(:active),
.btn-group .btn-sm.btn-bw:active:not(.active) + .btn-sm.btn-bw:active:not(.active) {
	margin-left: -1px;
	padding-left: 12px;
}




/* Forms 
------------------------------------------------*/
/* General */
label,
.control-label {
	color: #878787;
	font-size: 14px;
	font-weight: normal;
}

.form-group {
    margin-bottom:25px;
}
.form-group:last-child {
    margin-bottom:0;
}

.form-control,
input[type="checkbox"] ~ label:before,
input[type="radio"] ~ label:before {
	-webkit-transition: box-shadow ease-in-out .15s, border-color ease-in-out .15s;
	   -moz-transition: box-shadow ease-in-out .15s, border-color ease-in-out .15s;
	    -ms-transition: box-shadow ease-in-out .15s, border-color ease-in-out .15s;
	     -o-transition: box-shadow ease-in-out .15s, border-color ease-in-out .15s;
	        transition: box-shadow ease-in-out .15s, border-color ease-in-out .15s;
}


/* Checbox & radiobutton */
.radio, .checkbox {
	padding-left: 0;
	position: relative;
}
.form-horizontal .checkbox + .checkbox,
.form-horizontal .radio + .radio {
    margin-top: 10px;
}
.radio label, .checkbox label {
	color: inherit;
}
input[type="checkbox"],
input[type="radio"] {
	opacity: 0;
	outline: 0;
	position: absolute;
	z-index: -1;
	top: 50%; left:5px;
	margin: 0 !important;
}
input[type="checkbox"] ~ label:before,
input[type="radio"] ~ label:before { 
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	border: 1px solid #cacaca;
	border-radius: 4px;
	background-color: #fff;
}
td.centered input[type="checkbox"] ~ label:before {
	margin-right: 0;
}
input[type="radio"] ~ label:before {
	border-radius: 50%;
}
input[type=checkbox]:checked ~ label:before {
	background: #fff url(/img/checkbox.png) no-repeat 50% 50%;
}
input[type=radio]:checked ~ label:before {
	background: #fff url(/img/radio.png) no-repeat 50% 50%;
}

input[type=checkbox][disabled] ~ label,
input[type=radio][disabled] ~ label {
	color: #939393 !important;
}

input[type=checkbox][disabled] ~ label:before,
input[type=radio][disabled] ~ label:before {
	background-color: #f4f4f4 !important;
	border-color: #d8d8d8 !important;
	cursor: not-allowed;
}
input[type=checkbox][disabled]:checked ~ label:before {
	background-image: url(/img/checkbox-disabled.png);
}
input[type=radio][disabled]:checked ~ label:before {
	background-image: url(/img/radio-disabled.png);
}



/* Horizontal form */
.form-horizontal .control-label {
	text-align: left;
}
.form-horizontal .for-cke {
    min-height:372px;
}



/* Control states colors */
.form-control,
input[type="checkbox"] ~ label:before,
input[type="radio"] ~ label:before {
	-webkit-box-shadow: 0 0 0 0px rgba(95, 197, 234, 0.32);
	        box-shadow: 0 0 0 0px rgba(95, 197, 234, 0.32);
}
.form-control:focus,
input[type="checkbox"]:focus ~ label:before,
input[type="radio"]:focus ~ label:before {
	border-color: #00a3df;
	-webkit-box-shadow: 0 0 0 1px #00a3df;
	        box-shadow: 0 0 0 1px #00a3df;
}

.has-error .form-control,
.has-error input[type="checkbox"] ~ label:before,
.has-error input[type="radio"] ~ label:before {
	color: #d4310b;
	border-color: #ee512c;
	-webkit-box-shadow: 0 0 0 0px #ee512c;
	        box-shadow: 0 0 0 0px #ee512c;
}
.has-error .form-control:focus,
.has-error input[type="checkbox"]:focus ~ label:before,
.has-error input[type="radio"]:focus ~ label:before {
	border-color: #ee512c;
	-webkit-box-shadow: 0 0 0 1px #ee512c;
	        box-shadow: 0 0 0 1px #ee512c;
}
.has-error .help-block, 
.has-error .control-label {
	color: #d4310b;
}
.has-error .form-control::-webkit-input-placeholder {color: inherit; opacity: 0.5;} /* WebKit browsers */
.has-error .form-control:-moz-placeholder           {color: inherit; opacity: 0.5;} /* Mozilla Firefox 4 to 18 */
.has-error .form-control::-moz-placeholder          {color: inherit; opacity: 0.5;} /* Mozilla Firefox 19+ */
.has-error .form-control:-ms-input-placeholder      {color: inherit; opacity: 0.5;} /* Internet Explorer 10+ */

.has-warning .form-control,
.has-warning input[type="checkbox"] ~ label:before,
.has-warning input[type="radio"] ~ label:before {
	color: #e18429;
	border-color: #e8a439;
	-webkit-box-shadow: 0 0 0 0px #e8a439;
	        box-shadow: 0 0 0 0px #e8a439;
}
.has-warning .form-control:focus,
.has-warning input[type="checkbox"]:focus ~ label:before,
.has-warning input[type="radio"]:focus ~ label:before {
	border-color: #e8a439;
	-webkit-box-shadow: 0 0 0 1px #e8a439;
	        box-shadow: 0 0 0 1px #e8a439;
}
.has-warning .help-block, 
.has-warning .control-label {
	color: #e18429;
}
.has-warning .form-control::-webkit-input-placeholder {color: inherit; opacity: 0.6;} /* WebKit browsers */
.has-warning .form-control:-moz-placeholder           {color: inherit; opacity: 0.6;} /* Mozilla Firefox 4 to 18 */
.has-warning .form-control::-moz-placeholder          {color: inherit; opacity: 0.6;} /* Mozilla Firefox 19+ */
.has-warning .form-control:-ms-input-placeholder      {color: inherit; opacity: 0.6;} /* Internet Explorer 10+ */

.has-success .form-control,
.has-success input[type="checkbox"] ~ label:before,
.has-success input[type="radio"] ~ label:before {
	color: #469710;
	border-color: #52ad15;
	-webkit-box-shadow: 0 0 0 0px #52ad15;
	        box-shadow: 0 0 0 0px #52ad15;
}
.has-success .form-control:focus,
.has-success input[type="checkbox"]:focus ~ label:before,
.has-success input[type="radio"]:focus ~ label:before {
	border-color: #52ad15;
	-webkit-box-shadow: 0 0 0 1px #52ad15;
	        box-shadow: 0 0 0 1px #52ad15;
}
.has-success .help-block, 
.has-success .control-label {
	color: #469710;
}
.has-success .form-control::-webkit-input-placeholder {color: inherit; opacity: 0.5;} /* WebKit browsers */
.has-success .form-control:-moz-placeholder           {color: inherit; opacity: 0.5;} /* Mozilla Firefox 4 to 18 */
.has-success .form-control::-moz-placeholder          {color: inherit; opacity: 0.5;} /* Mozilla Firefox 19+ */
.has-success .form-control:-ms-input-placeholder      {color: inherit; opacity: 0.5;} /* Internet Explorer 10+ */


/* Select */
select {
	outline:none !important;
}
option {
	color: #464646;
	padding: 10px 15px;
}

/* File input button */
.fileinput-btn {
    position: relative;
    overflow: hidden;
}
.fileinput-btn input[type="file"] {
    display: block;
    position: absolute;
    top: -999px; 
    opacity: 0;
    z-index: 0;
}




/* Tables
------------------------------------------------- */
.table-basic {
	border-radius: 4px;
	border-collapse: separate;
	background: #464646;
    font-size: 14px;
}
.table-basic:first-child {
    margin-top: 0;
}
/* Border-radius control */
.table-basic > thead,
.table-basic > thead > tr:first-child,
.table-basic > tbody > tr:first-child {border-radius: 4px 4px 0 0;}
.table-basic > tbody,
.table-basic > tbody > tr:last-child {border-radius: 0 0 4px 4px;}

.table-basic > thead > tr:first-child > th:first-child {border-top-left-radius:     4px;}
.table-basic > thead > tr:first-child > th:last-child  {border-top-right-radius:    4px;}
.table-basic > tbody > tr:first-child > td:first-child {border-top-left-radius:     4px;}
.table-basic > tbody > tr:first-child > td:last-child  {border-top-right-radius:    4px;}
.table-basic > tbody:last-child > tr:last-child  > td:first-child {border-bottom-left-radius:  4px;}
.table-basic > tbody:last-child > tr:last-child  > td:last-child  {border-bottom-right-radius: 4px;}
.table-basic > tfoot > tr:last-child  > td:first-child {border-bottom-left-radius:  4px;}
.table-basic > tfoot > tr:last-child  > td:last-child  {border-bottom-right-radius: 4px;}

.table-basic > thead + tbody > tr:first-child > td:first-child {border-top-left-radius:  0;}
.table-basic > thead + tbody > tr:first-child > td:last-child  {border-top-right-radius: 0;}

.table.instant-append {
    margin-bottom: 0px;
}
.table.instant-append > tbody > tr:last-child > td {
    border-radius: 0 !important;
}

/* Borders */ 
.table-basic > thead > tr > th  {border: 1px solid #464646;}
.table-basic > tbody > tr > td             {border-top:    1px solid #cacaca;}
.table-basic > tbody > tr:last-child > td  {border-bottom: 1px solid #cacaca;}
.table-basic > tbody > tr > td:first-child {border-left:   1px solid #cacaca;}
.table-basic > tbody > tr > td:last-child  {border-right:  1px solid #cacaca;}

/* Cell styles */
.table-basic > thead {
	background: #464646;
}
.table-basic > tfoot {
	background: #e4e4e4;
    border-color: #cacaca
}

.table-basic > thead > tr > th {
	padding: 10px 15px;
	background: #464646;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
    text-align: left !important;
    width: initial !important;
}
.table-basic > tfoot > tr > td {
    padding: 15px 25px;
	background: #e4e4e4;
	color: #464646;
    border: 1px solid #cacaca;
    border-top-width: 0;
}

.table-basic > tbody > tr > td {
	padding: 10px 15px;
    vertical-align: middle;
	background: #fff;
    word-wrap: break-word;
    word-break: break-word;

    -webkit-transition: background-color 0.2s;
       -moz-transition: background-color 0.2s;
        -ms-transition: background-color 0.2s;
         -o-transition: background-color 0.2s;
            transition: background-color 0.2s;

}
.table-basic td.centered,
.table-basic th.centered {
	text-align: center;
}
.table-basic td.nowrap,
.table-basic th.nowrap {
	white-space: nowrap;
}

/* Stripes & hover */
.table-basic > tbody > tr > td:nth-child(2n) {background: #f6f6f6;}

.table-basic.table-hover > tbody > tr:hover > td               {background: #ececec;}
.table-basic.table-hover > tbody > tr:hover > td:nth-child(2n) {background: #e4e4e4;}
.table-basic.table-basic > tbody > tr.active > td               {background: #d3eef6;}
.table-basic.table-basic > tbody > tr.active > td:nth-child(2n) {background: #b6e4f2;}

.table-basic.table-basic > tbody > tr.active > td,
.table-basic.table-basic > tbody > tr.active + tr > td {border-top-color: #84cde5}
.table-basic.table-basic .tr-extended:hover > td {background-color: #fff;} 

.table-basic .tr-extended > td {
    position: relative;
    padding: 0;
}
.table-basic .tr-extended .tr-extended-container {
    padding: 15px 25px;
    max-height: 500px;
    overflow: auto !important;
}
.table-basic .tr-extended .tr-extended-container::-webkit-scrollbar {
    width:10px;
    height:10px;
    background: #fff;
    border: 2px solid #fff;
}
.table-basic .tr-extended .tr-extended-container::-webkit-scrollbar-thumb {
    width:8px;
    height:8px;
    border: 2px solid #fff;
    -webkit-border-radius:10px;
    border-radius:10px;
    background-color:#00a3d8;
}
.table-basic .tr-extended .tr-extended-container::-webkit-scrollbar-thumb:hover {
    background-color:#008fc4;
}

.table-basic .tr-extended>td:before, .table-basic .tr-extended>td:after {
    content: '';
    position: absolute;
    left:0; right:0;
    z-index: 5;
    height:10px;
    opacity: 0;
    pointer-events: none;
    background: url(/img/shadow.png);

    -webkit-transition: opacity 0.2s;
       -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
         -o-transition: opacity 0.2s;
            transition: opacity 0.2s;
}
.table-basic .tr-extended>td:before {
    top: 0px;
    background-position: 0 top;
}
.table-basic .tr-extended>td:after {
    bottom: 0px;
    background-position: 0 bottom;
}
.table-basic .tr-extended.shad-top>td:before, .table-basic .tr-extended.shad-bottom>td:after {
    opacity: 0.5;
}
.table-basic .tr-extended.closing>td:before, .table-basic .tr-extended.closing>td:after {
    opacity:0;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}




/* Staff */ 
.table-basic td>a:only-child { 
	display: block;
	margin: -15px -25px;
	padding: 15px 25px;
}




/* Extended tables */ 
.table-basic > thead > .search > th {
	padding: 8px 14px 5px;
	overflow: hidden;
	font-weight: normal;
	background: #dedede;
	border-color: #dedede #cacaca;
}
.table-basic > thead > .search .search-form {
	position: relative;
	/*padding-right: 90px;*/ 
}
.table-basic > thead > .search .search-form .search-select {
    display: inline-block;
    width: 180px;
    vertical-align: top;
}
.table-basic > thead > .search .search-form-only-input {
    padding-right: 0;
}
.table-basic > thead > .search .search-form-small-input .search-input-wrap {
    padding-right: 0;
    width: 400px;
    display: inline-block;
}

.table-basic > thead > .search .search-button-wrap {
	position: absolute;
	right: 0;
	top:0;
	width: 80px;
    text-align: right;
}
.table-basic > thead > .search .search-select-wrap {
    width: 165px;
}

.table-basic .open-close {
	width: 60px;
    padding-left:0;
    padding-right:0;
}
.table-basic .open-close .glyphicon-chevron-up,
.table-basic .open-close .spinner {
	display: none;
}

.table-basic tr.active .open-close .glyphicon-chevron-up {
	display: inline-block;
}
.table-basic tr.active .open-close .glyphicon-chevron-down {
	display: none;
}
.table-basic tr.pending .glyphicon-chevron-up,
.table-basic tr.pending .glyphicon-chevron-down {
    display: none;
}
.table-basic tr.pending .spinner {
    display: inline-block;
}

.table-basic .td-actions {
    padding: 15px 10px;
    white-space: nowrap;
    text-align: center;
}

/* Pagination */
.table-basic .pagination-container {
    text-align: center;
    font-size: 0;
}
.table-basic .pagination {
    margin: 0;
    font-weight: normal;
    font-size:16px;
}
    .table-basic .pagination > li > a {
        display: inline-block;
        border: 1px solid #cacaca;
    }

    .table-basic .pagination > li.active > a {
        border-color: #00a3df;
    }
    .table-basic .pagination > li.disabled > a:hover {
        border-color: #cacaca;
    }


/* DataTables adoptation */
.dataTables_wrapper {
    position: relative;
}
.dataTables_wrapper .instant-append ~ .dataTables_info {
    display: none;
}
.dataTables_wrapper .instant-append ~ .dataTables_paginate {
    float: none;
    padding: 15px 25px;
    text-align:center;
    background: #e4e4e4;
    border: 1px solid #cacaca;
    border-top-width: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dataTables_paginate a  {
    display: inline-block;
    position: relative;
    padding: 6px 12px;
    line-height: 1.4;
    text-decoration: none;
    color: #00a3df;
    background-color: #ffffff;
    border: 1px solid #cacaca;
    margin-left: -1px;
    cursor: pointer;
    outline: none !important;

    -webkit-transition: background-color 0.25s, color 0.25s;
	   -moz-transition: background-color 0.25s, color 0.25s;
	     -o-transition: background-color 0.25s, color 0.25s;
	        transition: background-color 0.25s, color 0.25s;
}
    .dataTables_paginate a:hover {
        color: #007eac;
        background-color: #eeeeee;
        border-color: #cacaca;
    }
    .dataTables_paginate a.paginate_active {
        z-index: 2;
        color: #8D8D8D;
        background-color: #E7E7E7;
        cursor: default;
    }
    .dataTables_paginate a.paginate_button_disabled {
        color: #d4d4d4;
        background-color: #ffffff;
        cursor: not-allowed;
    }
   
    .dataTables_paginate a.first, .dataTables_paginate a.last {
        display: none;
    }
    .dataTables_paginate a.previous {
        border-top-left-radius: 4px;
        border-bottom-left-radius:4px;
        font-size:0;
    }
        .dataTables_paginate a.previous:after {
            content:'\00AB';
            font-size: 16px;
        }
    .dataTables_paginate a.next {
        border-top-right-radius: 4px;
        border-bottom-right-radius:4px;
        font-size:0;
    }
        .dataTables_paginate a.next:after {
            content:'\00BB';
            font-size: 16px;
        }

.dataTables_filter {
    display: none;
}
.dataTables_processing {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    padding-top: 75px;
    background: rgba(255,255,255,0.3);
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 1px #464646;
    z-index: 10;
    opacity:1;

    -webkit-transition: opacity 0.2s;
	   -moz-transition: opacity 0.2s;
	     -o-transition: opacity 0.2s;
	        transition: opacity 0.2s;
}
.dataTables_processing[style="visibility: hidden;"] {
    opacity:0;
}

/*.dataTables_wrapper .table .sorter span {
    display: none;
    float: right;
    margin-top: 4px;
}
.dataTables_wrapper .table .sorting_asc .sorter .glyphicon-chevron-down {
    display: inline-block;
}

.dataTables_wrapper .table .sorting_desc .sorter .glyphicon-chevron-up {
    display: inline-block;
}*/



/* ----- sortertable headers and triangles ----- */
.triangle-down, .triangle-up {
    display: none;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.triangle-up {
    border-bottom: 5px solid;
    border-top: 0;
}
.dataTables_wrapper .table .sorting_asc .sorter .triangle-down,
.dataTables_wrapper .table .sorting .sorter .triangle-down {
    display: inline-block;
}
.dataTables_wrapper .table .sorting_desc .sorter .triangle-up {
    display: inline-block;
}

.dataTables_wrapper .table thead tr th.sorting {
    color: #c8c8c8;
    -webkit-transition: 0.25s;
       -moz-transition: 0.25s;
        -ms-transition: 0.25s;
         -o-transition: 0.25s;
            transition: 0.25s;
}
.dataTables_wrapper .table thead tr th.sorting:hover {
    color: #fff;
}


/* Tabs
------------------------------------------------- */
.nav-tabs {
	border-bottom: 2px solid #d2d0d0;
    margin: 30px 0;
}
.nav-tabs:first-child {
    margin-top: 0;
}
.nav-tabs > li {
	margin-bottom: 0px;
}
.nav-tabs > li > a {
	margin-right: 10px;
	background: #ececec;
	border: 2px solid transparent;
	border-bottom-width: 0px;
	color: #626262;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	background: #dadada;
	border-color: transparent;
	border-bottom-width: 0px;
	color: #626262;
	outline: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #626262;
	border: 2px solid #d2d0d0;
	border-width: 2px 2px 0px 2px;
	padding-bottom: 12px;
	margin-bottom: -2px;
	
}

.tab-basic.tab-content {
	padding: 15px 10px;
	border: 2px solid #d2d0d0;
	border-top: none;
}




/* Alerts 
------------------------------------------------- */ 
.alert {
	border-radius: 0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-width: 2px;
	font-size: 15px;
}
.alert a {
    color: inherit;
}
.alert .close {
	font-size: 30px;
	font-weight: 300;
	opacity: 1;
	text-shadow: none;
}
.alert .close:hover,
.alert .close:focus {
	outline: none;
}
.alert-info {
	background: #d3eef6;
	color: #00a3d8;
	border-color: #00a3d8;
}
.alert-info .close:hover, .alert-info .close:focus {
	color: #00749a;
}
.alert-info .close:focus {
	text-shadow: 0 0 2px rgba(0, 116, 154, 0.5);
}
.alert-success {
	background: #dbfac7;
	color: #469710;
	border-color: #52ad15;
}
.alert-success .close:hover, .alert-success .close:focus {
	color: #367f05;
}
.alert-success .close:focus {
	text-shadow: 0 0 2px rgba(54, 127, 5, 0.5);
}
.alert-warning {
	background: #fcedce;
	color: #e18429;
	border-color: #e8a439;
}
.alert-warning .close:hover, .alert-warning .close:focus {
	color: #c8770f;
}
.alert-warning .close:focus {
	text-shadow: 0 0 2px rgba(200, 119, 15, 0.5);
}
.alert-danger {
	background: #fbd5cc;
	color: #d4310b;
	border-color: #ee512c;
}
.alert-danger .close:hover, .alert-danger .close:focus {
	color: #bd2c0a;
}
.alert-danger .close:focus {
	text-shadow: 0 0 2px rgba(189, 44, 10, 0.5);
}





/* Popovers
---------------------------------------------*/
.popover {
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.08);
	box-shadow: 0 0 0 5px rgba(0,0,0,0.08);
	padding: 15px 10px 10px;
	font-size: 14px;
}
    .popover .arrow {
        pointer-events: none;
    }
.popover .arrow:before {
	content: " ";
    pointer-events: none;
	position: absolute;
	top: -12px;
	left:-19px;
	height: 0;
	width: 0;
	border: solid transparent;

	border-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0,0,0,0.08);
	border-width: 12px;
}

.popover-title {
	border: none;
	color: #00a3d8;
	font-size: 18px;
}



/* Spinner */ 
.spinner {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-top: -0.2em;

    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);

    -webkit-animation: spin 1s infinite linear;
       -moz-animation: spin 1s infinite linear;
         -o-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
}
.spinner:before, .spinner:after {
    content: '';
    display: block;
    position: absolute;
    width: 1em;
    height:1em;
    border-radius: 50%;
    box-sizing: border-box;
}
.spinner:after {
    border: .15em solid transparent;
    border-top-color: inherit;
}
.spinner:before {
    border: .15em solid transparent;
    border-color: inherit;
    opacity: 0.2;
}

@-webkit-keyframes spin {
	to { -webkit-transform: rotate(1turn); transform: rotate(1turn); }
}
@-moz-keyframes spin {
	to { -moz-transform: rotate(1turn); transform: rotate(1turn); }
}
@-o-keyframes spin {
	to { -o-transform: rotate(1turn); transform: rotate(1turn); }
}
@keyframes spin {
	to { transform: rotate(1turn); transform: rotate(1turn); }
}

.spinner.primary {
    color: #00a3df;
}

/* slider */
.slider.slider-horizontal .slider-track {
    background-color: #00a3df;
    background-image: -webkit-linear-gradient(left, #00a3df 0%, #1685a9 100%);
    background-image: -moz-linear-gradient(left, #00a3df 0%, #1685a9 100%);
    background-image: linear-gradient(to right, #00a3df 0%, #1685a9 100%);
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.slider.slider-horizontal .slider-track .slider-selection {
    background-color: #e5e5e5;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.slider.slider-horizontal .slider-track .slider-handle.round {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 30px;
    background: #00a3df;
    border: 8px solid #fff;
    cursor: pointer;
    box-shadow: inset 0 1px 3px #555,
                   0 0 0 1px #cacaca,
                  0 1px 1px 1px #777;
    margin-left: -13px;
    margin-top: -8px;
}


/* events icons*/

.icon {
    display:inline-block;
    width:22px;
    height: 22px;
    margin: 0 2px;
    background: url(/img/event-icons.png) 0 0 no-repeat;
}

.icon.monitoring     {background-position-x:   0px;}
.icon.evaluation     {background-position-x: -22px;}
.icon.add-medication {background-position-x: -44px;}
.icon.change-dosage,
.icon.dosage-change  {background-position-x: -66px;}

.icon.white {background-position-y: -22px;}
.icon.link  {background-position-y: -44px;}
.icon.hover {background-position-y: -66px;}

.btn:hover>.link {background-position-y: -44px;}


/* status in data-table */
.table.table-basic tbody .status-active,
.table.table-basic tbody .status-inactive,
.table.table-basic tbody .status-invited {
    position: relative;
    margin-left: 17px;
	-webkit-transition: 0.25s;
	   -moz-transition: 0.25s;
	    -ms-transition: 0.25s;
	        transition: 0.25s;
}
.table.table-basic tbody .status-inactive,
.table.table-basic tbody .status-invited {
    color: #b3b3b3;
}

.table.table-basic tbody .status-active:before,
.table.table-basic tbody .status-inactive:before,
.table.table-basic tbody .status-invited:before {
    content: '';
    display: block;
    position: absolute;
    left: -17px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #00a3df;
	-webkit-transition: 0.25s;
	   -moz-transition: 0.25s;
	    -ms-transition: 0.25s;
	        transition: 0.25s;
}
.table.table-basic tbody .status-inactive:before {
    background: #b3b3b3;
}
.table.table-basic tbody .status-invited:before {
    background: #F0D396;
}




.glyphicon {
    top: 2px;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #00a3df !important;
}

/* garbage collection */
.shift-L {
    margin-left: -15px
}